<div class="container">
	<div class="row">
		<div class="col-sm col-sm-offset-1">

    <h5>商品一覧</h5>
      <table class="table">

          <%= link_to new_admin_item_path do %>
            <div class= "text-right">
              <button type="button" class="btn btn-light rounded-circle p-0 " style="width:2rem;height:2rem;">＋</button>
            </div>
          <% end %>

            <thead>
                <th class= "table-active">商品ID</th>
                <th class= "table-active">商品名</th>
                <th class= "table-active">税抜価格</th>
                <th class= "table-active">ジャンル</th>
                <th class= "table-active">ステータス</th>
            </thead>
            <tbody>
            <% @items.each do |item| %>
              <tr>
                <td>
                  <%= item.id %>
                </td>
                <td>
                  <%= link_to item.name,admin_item_path(item.id) %>
                </td>
                <td>
                  <%= item.price %>
                </td>
                <td>
                  <%= item.genre.name %>
                </td>
                <td>
                  <% if item.is_active == true %>
          					<%= "販売中" %>
          				<% else %>
          					<%= "販売停止中" %>
          				<% end %>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
		</div>
	</div>
</div>