<div class="container">
<p>注文履歴詳細</p>


<label>購入者</label>
<%= @order.customer.full_name %>
<label>注文日</label>
<%= @order.created_at.strftime('%Y/%m/%d') %>
<label>配送先</label>
〒<%= @order.postal_code %><br><%= @order.address %>
<label>支払方法</label>
<%= @order.payment_method %>
<label>注文ステータス</label>
<% if @order.status == true %>
    <%= "販売中" %>
<% else %>
    <%= "販売停止中" %>
<% end %>


<table class= "table">
          <thead>
            <tr>
              <th class="table-active">商品名</th>
              <th class="table-active">単価（税込）</th>
              <th class="table-active">数量</th>
              <th class="table-active">小計</th>
              <th class="table-active">製作ステータス</th>
            </tr>
          </thead>
          <tbody>
          <% @order_details.each do |order_detail| %>
              <tr>
                <td><%= order_detail.item.name %></td>
                <td><%= order_detail.tax_price.to_s(:delimited) %></td>
                <td><%#= order_details.sum(:amount) %></td>
                <td><%= order_detail.tax_price.to_s(:delimited) %></td>
                <td>
                  <%= form_with model: @order_detail, url: admin_order_detail_path(order_detail.id), local: true do |f| %>
                    <%= order_detail.making_status %>
                    <%= f.select options_from_collection_for_select(OrderDetail.making_statuses,:not_possible, :waiting, :in_production, :completed) %>
                    <%= f.submit "更新", class: "btn btn-sm btn-success" %>
                  <% end %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>

    <div class="col-xs-6">
			<div class="row">
				<p>請求情報</p>
				  <table class="table table-bordered">
					  <tr>
						  <th>商品合計</th>
						  <td><%= @total %></td>
					  </tr>
  					<tr>
  						<td>配送料</td>
  						<th><%= @order.shipping_cost %></th>
  					</tr>
  					<tr>
  						<th>ご請求額</th>
  						<td><%= @total + @order.shipping_cost %></td>
  					</tr>
				  </table>
			</div>
		</div>
</div>