<p>注文履歴詳細</p>
<% @order_detail each do |orderdetail| %>
<label>購入者</label>
<%=  %>
<label>注文日</label>
<%= order_detail.created_at.strftime('%Y/%m/%d') %>
<label>配送先</label>
<%= order_detail.address %>
<label>支払方法</label>
<%= order_detail.payment_method %>
<label>入金ステータス</label>
<%= order_detail.status %>

<table class= "table">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税込価格）</th>
              <th>数量</th>
              <th>小計</th>
              <th>製作ステータス</th>
            </tr>
          </thead>
          <tbody>
             <tr>
               <td><%= order_id.name %></td>
               <td><%= order.total_payment %></td>
               <td><%= order_detail.amount %></td>
               <td><%= item_id.price %></td>
               <td><%= order_details.making_status %></td>
             </tr>
<% end %>
          </tbody>
        </table>