<p>配送先登録/一覧</p>

<%= form_with model: @addresses,url: addresses_path do |f| %>
  <label>郵便番号（ハイフンなし）</label>
   <%= f.file_field :postal_code %>
   <label>住所</label>
   <%= f.file_field :address %>
   <label>宛名</label>
   <%= f.file_field :name %>

   <table class= "table">
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th colspan= "4"></th>
      </tr>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><&= address.name %></td>
        <td><% link_to '編集する', edit_address_path(@address.id), class: "btn btn-sm btn-success" %></td>
        <td><% link_to '削除する', address_path(@address.id), class: "btn btn-sm btn-success" %></td>
      </tr>
    </thead>
    <tbody>
   </table>
<% end %>
