<div class="container">
    <h5>注文履歴詳細</h5>
  <div class= "row">
    <div class="col-sm-6">
    <h5>注文情報</h5>
        <table class="table table-sm table-bordered">
          <tbody>
            <tr>
              <th class= "table-active">注文日</th>
              <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <th class= "table-active">配送先</th>
              <td><%= @order.address %></td>
            </tr>
            <tr>
              <th class= "table-active">支払方法</th>
              <td><%= @order.payment_method_i18n %></td>
            </tr>
            <tr>
              <th class= "table-active">ステータス</th>
              <td><%= @order.status_i18n %></td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <h5>請求情報</h5>
        <table class="table table-sm table-bordered">
          <tbody>
            <tr>
              <th class= "table-active">商品合計</th>
              <td><%= @order.order_details.sum(&:subtotal) %></td>
            </tr>
            <tr>
              <th class= "table-active">配送料</th>
              <td><%= @order.shipping_cost %></td>
            </tr>
            <tr>
              <th class= "table-active">ご請求額</th>
              <td><%= @order.total_payment %></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class= "row">
    <div class="col-sm-8">

      <h5>注文内容</h5>
        <table class="table table-sm table-bordered">
          <thead>
            <tr>
              <th class= "table-active">商品</th>
              <th class= "table-active">単価（税込）</th>
              <th class= "table-active">個数</th>
              <th class= "table-active">小計</th>
            </tr>
          </thead>

          <tbody>
            <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.item.with_tax_price %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.tax_price*order_detail.amount.to_i %></td>
            <% end %>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>