<div class="container">
  <div class="row center-block m-5">
    <div class= "col-md-3">
      <%= image_tag @item.image, size: "300x300" %>
    </div>
    <div class= "col-md-8 offset-md-1">
      <h5><%= @item.name %></h5>

      <%= @item.introduction %><br>
      ¥<%= @item.with_tax_price %>(税込)

      <% if @item.is_active == true %>
        <%= form_with model: @cart_item, url: cart_items_path(@cart_item) do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :amount, *[1..10], include_blank: "個数選択", class: "form-control m-3" %>
          <%= f.submit "カートに入れる", class: 'btn btn-success m-3' %>
        <% end %>
      <% else %>
      <div class="sold-out">
        <span style="color:red">売り切れ</span>
      </div>


      <% end %>
    </div>
  </div>
</div>
