<!DOCTYPE html>
<html>
  <head>
    <title>Nagano Cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class= "navbar navbar-expand-lg navbar-dark bg-dark">
        <div class= "container">
          <%= link_to "Nagano Cake",root_path, class="navbar-brand" %>
        </div>
        <ul class="nav justify-content-end">
          <li class="nav-item"></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
